.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  margin-top: 50px;
}
.news li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6vh;
}
.all-news-button-container {
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .news {
    column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .news {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .news li {
    height: auto;
  }
}

@media (max-width: 500px) {
  .news {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .news li {
    height: auto;
    margin-bottom: 4vh;
  }

  .text-normal {
    font-size: 14px;
  }

  .text-sm {
    font-size: 12px;
  }
}
