.footer {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  &_top_container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 50px;
  }

  &_top_container h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  &_bottom {
    width: 100%;
    height: 25%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.site-title {
  display: flex;
  align-items: center;
}
.images-logo {
  display: flex;
  align-items: center;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 70%;
}
.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 95%;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
}

@media (max-width: 1000px) {
  .footer_top_container {
    row-gap: 40px;
    column-gap: 25%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }
  .catalog-container ul {
    column-gap: 20px;
  }
  .site-title p {
    font-size: 2rem;
  }

  .contacts {
    justify-content: space-between;
    margin: 0;

    &_container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin-bottom: 20px;
    }

    &_container h1 {
      margin-bottom: 25px;
    }
  }
  .footer_bottom_container {
    margin: 25px 0px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 50px;
  }

  .company-container h1,
  .catalog-container h1,
  .contacts h1 {
    font-size: 18px;
  }

  .catalog-container ul {
    grid-template-columns: 1fr;
  }

  .site-title p {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .footer_top_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .company-container {
    display: none;
  }
  .catalog-container ul {
    grid-template-columns: 1fr;
  }
  .catalog-container h1 {
  }
  .contacts {
    align-items: center;
  }
  .logo-container {
    align-items: center;
    justify-content: center;
  }
}
