.second-block-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.one-detail {
  width: 23%;
  height: 25vh;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 5px 10px 30px 0px #00000026;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.one-detail li {
  margin-bottom: 6px;
}
.detail-image {
  width: 60%;
  height: auto;
  position: absolute;
  left: 60%;
  bottom: 40%;
}
@media (max-width: 1000px) {
  .second-block-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .one-detail {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
  }

  .detail-image {
    width: 50%;
    left: 70%;
  }
}

@media (max-width: 768px) {
  .one-detail {
    width: 90%;
  }

  .detail-image {
    width: 35%;
    bottom: 20%;
  }
}

@media (max-width: 500px) {
  .second-block-container {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .detail-image {
    width: 50%;
    left: 60%;
    bottom: 10%;
  }
}
