.third-block-container {
  width: 100%;
  height: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.inner-container {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .third-block-container {
    height: auto;
  }
}

@media (max-width: 768px) {
  .arrow-container {
    width: 200%;
    justify-content: space-between;
  }
  .title-container p {
    display: none;
  }
  .title-container h1 {
    font-size: 22px;
  }
}
