.clients {
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
.client-image {
  width: 80%;
}

@media (max-width: 1000px) {
  .clients {
    gap: 5%;
    margin-top: 70px;
  }
  .client-image {
    width: 100%;
  }
}
