.metalls {
  position: relative;
  width: 100%;
  &-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 50px;
  }
  &-name {
    margin-top: 3vh;
    font-size: 16px;
    font-weight: 500;
  }
  &-image {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.metalls li {
  position: relative;
  text-align: center;
  border: 1px solid #e0e0e0;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .metalls {
    display: flex;
    justify-content: center;
  }
  .metalls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10%;
    column-gap: 10%;
  }

  .metalls-name {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .metalls-container {
    flex-wrap: wrap;
  }

  .metalls-name {
    font-size: 14px;
  }

  .metalls-image {
    width: 250px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .metalls-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .metalls-name {
    font-size: 16px;
  }

  .metalls-image {
    width: 100%;
    height: auto;
  }
}
