.fifth-container-overlay {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.fifth-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommendation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40%;
  column-gap: 5%;
  margin-top: 100px;
}
.one-card {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  height: 150%;
  width: 100%;
}
.one-card p {
  width: 40%;
  margin-left: 20px;
}

@media (max-width: 1280px) {
  .fifth-container {
    height: auto;
  }
  .recommendation-list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15%;
  }

  .one-card {
    height: 120%;
    margin-bottom: 10px;
  }

  .one-card p {
    width: 50%;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .recommendation-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 5%;
  }

  .one-card {
    height: 110%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .one-card p {
    width: 80%;
    margin-left: 0;
  }

  .one-card img {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .fifth-container-overlay {
    margin-top: 100px;
  }

  .fifth-container {
    width: 70%;
  }

  .recommendation-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 0;
    margin-top: 50px;
  }

  .one-card p {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .one-card img {
    margin-left: 0;
  }
}
