@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
