.title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__arrow-container {
		display: flex;
		justify-content: space-between;
		width: 9rem;
	}

	@media (max-width: 768px) {
		&__arrow-container {
			width: 100%;
			justify-content: space-between;
		}
		p {
			display: none;
		}
		h1 {
			font-size: 22px;
		}
	}
}
