.offers {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-top: 50px;
  overflow: hidden;
}
.offers li {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 10px 40px 0px #0000001a;
}
.offers p {
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-size: 16px;
  font-weight: 500;
}
.offer-image {
  width: 60%;
  position: absolute;
  top: 20%;
  left: 60%;
}
.info-container {
  height: 240px;
}
.details-link {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-decoration: underline solid;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .offers {
    gap: 20px;
  }
  .info-container {
    width: 70%;
  }
  .offers p {
    font-size: 14px;
  }

  .offer-image {
    width: 80%;
    top: 20%;
    left: 60%;
  }

  .info-container {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers li {
    width: 80%;
  }
  .info-container {
    height: auto;
  }
}
