.clients {
	display: grid;
	gap: 10%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	text-align: center;

	&__image {
		width: 80%;
	}

	@media (max-width: 1000px) {
		gap: 5%;
		margin-top: 70px;

		&__image {
			width: 100%;
		}
	}
}
